@media screen and (max-width:800px) {
    
    .sidebar_content{
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 9;
        background-color: #ccafaf;
        color: black;
    }
    
    .sidebar_content.show {
        left: 0; /* Move into view */
      }
    }